
#about-header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #45a144b7;
  position: relative;
}

#about-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('/assets/img/Planters/Plaza\ planter.JPG') no-repeat center center/cover;
  z-index: -1;
}

#about-header h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: var(--h-letter-spacing);
  color: var(--white-color);
}

#about-main {
  padding: 3rem 0;
}

.about-container {
  text-align: center;
}


.about-container p {
  margin-bottom: 1rem;
}

.about-container img {
  width: 200px;
  margin-top: 1rem;
}

#customers {
  padding: 3rem 0;
}

.customers-container {
  text-align: center;
  width: 100%;
}

.customers-container h3 {
  margin-bottom: 1rem;
}